body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#wrapper{
    display: flex;   
    width: 100%;  
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
 
   
 } 
.product{
color: white;
text-align: center;  
margin-bottom: 24px; 
margin-top: 0px;
display:flex;
justify-content: center;
align-items: center;
}  

#systems-expert{
 width: 50%;
 order: -2;
 height: 37.5px; 
 background-color: rgb(255, 0, 98);
 align-self: center; 
 
 
}

#ml-expert{
 width: 30%;
 height: 75px;
 background-color: orange;
 order: -1;
 margin-left: auto;
 margin-bottom: 24px; 


}


#algo-expert{
 width: 75%;
 background-color: rgb(0, 204, 255);
 margin: auto;   
 margin-bottom: 24px;    
}

#frontend-expert{
 width: 40%;
  height: 40px;
  margin-right: 10px;
  background-color: green;  
  align-self: flex-end;  
}

#programming-expert{
 flex-grow: 1;
  height: 75px;
  background-color: rgb(255, 0, 34);
    
}